---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import StackCard from "@components/StackCard.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [
  { 
    text: "Astro", 
    icon: "astro", 
    href: "https://astro.build" 
  },
  { 
    text: "Javascript", 
    icon: "javascript", 
    href: "https://www.javascript.com" 
  },
  { 
    text: "Typescript", 
    icon: "typescript", 
    href: "https://www.typescriptlang.org" 
  },
  { 
    text: "Tailwind", 
    icon: "tailwind", 
    href: "https://tailwindcss.com" 
  },
]
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
<section class="relative h-screen w-full">
  <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
    <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
      <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
        <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
      </div>
    </div>
  </div>
  <div class="animate absolute h-full w-full flex items-center justify-center">
    <div class='relative w-full h-full flex items-center justify-center'>
      <div class='p-5 text-center'>
        <div class="flex justify-center mb-6">
          <svg class="w-32 h-32 stroke-current text-black dark:text-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1080" zoomAndPan="magnify" viewBox="0 0 810 809.999993" height="1080" preserveAspectRatio="xMidYMid meet" version="1.2">
            <defs>
              <clipPath id="04c5af5223">
                <path d="M 405 0 C 181.324219 0 0 181.324219 0 405 C 0 628.675781 181.324219 810 405 810 C 628.675781 810 810 628.675781 810 405 C 810 181.324219 628.675781 0 405 0 Z M 405 0 "/>
              </clipPath>
            </defs>
            <g id="2d4c7aa325">
              <g clip-rule="nonzero" clip-path="url(#04c5af5223)">
                <path style="fill:none;stroke-width:140;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 540.000023 -0.0000266667 C 241.765632 -0.0000266667 -0.00000466667 241.76561 -0.00000466667 540.000001 C -0.00000466667 838.234391 241.765632 1080.000028 540.000023 1080.000028 C 838.234413 1080.000028 1080.00005 838.234391 1080.00005 540.000001 C 1080.00005 241.76561 838.234413 -0.0000266667 540.000023 -0.0000266667 Z M 540.000023 -0.0000266667 " transform="matrix(0.75,0,0,0.75,0.0000035,0.00002)"/>
              </g>
              <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 24.539111 24.955782 C 297.390838 293.221308 510.290316 293.224375 663.238408 24.957665 " transform="matrix(0.464266,-0.588459,0.588459,0.464266,0.97265,407.854151)"/>
              <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 10.68647 117.922171 C 355.548104 7.359672 689.399118 7.362186 1012.229263 117.919117 " transform="matrix(-0.0117062,-0.750229,0.748747,-0.0116831,235.468,789.379372)"/>
              <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 28.797392 19.888395 C 246.002151 334.400978 410.196454 334.401921 521.390467 19.888931 " transform="matrix(-0.164792,0.731152,-0.731152,-0.164792,424.290918,387.210469)"/>
              <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 10.938662 117.922083 C 347.041825 7.361922 672.413657 7.361535 987.048955 117.920697 " transform="matrix(-0.032558,-0.749563,0.748519,-0.0325127,483.350955,777.427709)"/>
              <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 24.765502 24.734017 C 197.602387 197.807529 370.443852 197.806418 543.280259 24.734637 " transform="matrix(0.284631,-0.693847,0.693847,0.284631,374.222944,417.916823)"/>
              <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 25.296907 24.184575 C 393.447657 409.267381 591.995805 409.270376 620.942476 24.186282 " transform="matrix(-0.443169,0.605063,-0.605063,-0.443169,835.840089,400.403817)"/>
            </g>
          </svg>
        </div>
        <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
          Software Developer
        </p>
        <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold text-black dark:text-white'>
          Joshua Hitchon
        </p>
        <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
        </p>
      </div>
    </div>
  </div>
</section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- About Section -->
      <section class="animate">
        <article>
          <p>Hello! My name is Joshua Hitchon and I am a software developer working in the UK.</p>
          <p>Welcome to my site! Keep reading to find out more about me and my work, or see my blog and projects page.</p>
        </article>

        <article class="animate">
          <article class="animate">
            <h1>About me</h1>

          </article>

          <article class="animate">
            <h1>Education</h1>
            
          </article>

          <article class="animate">
            <h1>Experience</h1>
            
          </article>

          <!-- Project Preview Section -->
          <article class="animate">
            <h1>Projects</h1>
            <section class="animate">
              <div class="space-y-4">
                <div class="flex justify-between">
                  <p class="font-semibold text-black dark:text-white">
                    Recent projects
                  </p>
                  <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                    <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                      All projects
                    </span>
                  </a>
                </div>
                <ul class="space-y-4">
                  {projects.map((project) => (
                    <li>
                      <ArrowCard entry={project} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          </article>


          <!-- Blog Preview Section -->
          <article class="animate">
            <h1>Blog</h1>
            <section class="animate">
              <div class="space-y-4">
                <div class="flex justify-between">
                  <p class="font-semibold text-black dark:text-white">
                    Recent posts
                  </p>
                  <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                    <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                      All posts
                    </span>
                  </a>
                </div>
                <ul class="space-y-4">
                  {posts.map((post) => (
                    <li>
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          </article>

        </article>
      </section>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
            Website built with
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard 
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div>
            Performing reactivity and statefulness, special guest
            <a href="https://www.solidjs.com/" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                SolidJS
              </span>
            </a>
          </div>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>
    </div>
  </div>
</PageLayout>
