---
import { SITE, SOCIALS } from "@consts"
import Container from "@components/Container.astro"
---

<footer class="relative bg-white dark:bg-black">
  <div class="animate">
    <section class="py-5">
      <Container size="md">
        <div class="flex items-center justify-center sm:justify-end">
          <button id="back-to-top" aria-label="Back to top of page" class="group flex w-fit p-1.5 gap-1.5 text-sm items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white rotate-90">
              <line x1="19" y1="12" x2="5" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
              <polyline points="12 19 5 12 12 5" class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
            </svg>
            <div class="w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out">
              Back to top
            </div>
          </button>
        </div>
      </Container>
    </section>
  
    <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="md">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="flex flex-col items-center sm:items-start">
            <a href="/" class="flex gap-1 w-fit font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <svg class="size-6 stroke-current text-black dark:text-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1080" zoomAndPan="magnify" viewBox="0 0 810 809.999993" height="1080" preserveAspectRatio="xMidYMid meet" version="1.2">
                <defs>
                  <clipPath id="04c5af5223">
                    <path d="M 405 0 C 181.324219 0 0 181.324219 0 405 C 0 628.675781 181.324219 810 405 810 C 628.675781 810 810 628.675781 810 405 C 810 181.324219 628.675781 0 405 0 Z M 405 0 "/>
                  </clipPath>
                </defs>
                <g id="2d4c7aa325">
                  <g clip-rule="nonzero" clip-path="url(#04c5af5223)">
                    <path style="fill:none;stroke-width:140;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 540.000023 -0.0000266667 C 241.765632 -0.0000266667 -0.00000466667 241.76561 -0.00000466667 540.000001 C -0.00000466667 838.234391 241.765632 1080.000028 540.000023 1080.000028 C 838.234413 1080.000028 1080.00005 838.234391 1080.00005 540.000001 C 1080.00005 241.76561 838.234413 -0.0000266667 540.000023 -0.0000266667 Z M 540.000023 -0.0000266667 " transform="matrix(0.75,0,0,0.75,0.0000035,0.00002)"/>
                  </g>
                  <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 24.539111 24.955782 C 297.390838 293.221308 510.290316 293.224375 663.238408 24.957665 " transform="matrix(0.464266,-0.588459,0.588459,0.464266,0.97265,407.854151)"/>
                  <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 10.68647 117.922171 C 355.548104 7.359672 689.399118 7.362186 1012.229263 117.919117 " transform="matrix(-0.0117062,-0.750229,0.748747,-0.0116831,235.468,789.379372)"/>
                  <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 28.797392 19.888395 C 246.002151 334.400978 410.196454 334.401921 521.390467 19.888931 " transform="matrix(-0.164792,0.731152,-0.731152,-0.164792,424.290918,387.210469)"/>
                  <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 10.938662 117.922083 C 347.041825 7.361922 672.413657 7.361535 987.048955 117.920697 " transform="matrix(-0.032558,-0.749563,0.748519,-0.0325127,483.350955,777.427709)"/>
                  <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 24.765502 24.734017 C 197.602387 197.807529 370.443852 197.806418 543.280259 24.734637 " transform="matrix(0.284631,-0.693847,0.693847,0.284631,374.222944,417.916823)"/>
                  <path style="fill:none;stroke-width:70;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;" d="M 25.296907 24.184575 C 393.447657 409.267381 591.995805 409.270376 620.942476 24.186282 " transform="matrix(-0.443169,0.605063,-0.605063,-0.443169,835.840089,400.403817)"/>
                </g>
              </svg>
              {SITE.TITLE}
            </a>
          </div>
          <div class="flex gap-2 justify-center sm:justify-end items-center">
            <span class="relative flex h-3 w-3">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-300"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
            </span>
            All systems normal
          </div>
        </div>
      </Container>
    </section>
  
    <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="md">
        <div class="h-full grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="order-2 sm:order-1 flex flex-col items-center justify-center sm:items-start">
            <div class="legal">
              <a href="/legal/terms" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
                Terms
              </a> |
              <a href="/legal/privacy" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
                Privacy
              </a> |
              <a href="/legal/ai-statement" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
                AI Statement
              </a>
              
            </div>
            <div class="text-sm mt-1 flex items-center flex-wrap">
              <a class="mr-1" href="https://joshuahitchon.com">joshuahitchon.com</a>
              © 2025 by
              <a class="mx-1" href="https://www.joshuahitchon.com">Joshua Hitchon</a>
              is licensed under
              <a class="mx-1" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>
              <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="CC" class="w-4 h-4 ml-1">
              <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="BY" class="w-4 h-4 ml-1">
              <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="NC" class="w-4 h-4 ml-1">
              <img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" alt="ND" class="w-4 h-4 ml-1">
            </div>
          </div>
  
          <div class="order-1 sm:order-2 flex justify-center sm:justify-end">
            <div class="flex flex-wrap gap-1 items-center justify-center">
              {
                SOCIALS.map((SOCIAL) => (
                  <a 
                    href={SOCIAL.HREF} 
                    target="_blank" 
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`} 
                    class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20  blend"
                  >
                    <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
                      <use href={`/social.svg#${SOCIAL.ICON}`} />
                    </svg>
                  </a>
                ))
              }
              </div>
          </div>
        </div>
      </Container>
    </section>
  </div>

</footer>

<script is:inline>
  function goBackToTop(event) {
    event.preventDefault()
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    })
  }

  function initializeBackToTop() {
    const backToTop = document.getElementById("back-to-top")
    backToTop?.addEventListener("click", goBackToTop)
  }

  document.addEventListener("astro:after-swap", initializeBackToTop)
  initializeBackToTop()
</script>